:root {
  color-scheme: dark;
  color: #FDF6E3;
  --main-color: #FDF6E3;
  background-color: black;
  background-position: center;
  background-attachment: fixed;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  line-height: 1.5em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%
}

html {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%
}

body {
  display: flex;
  place-items: top;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}

#app {
  min-width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(20,20,25);
  color: whitesmoke; /*rgb(240, 245, 245);*/
}


.hidden {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.bold {
  font-weight: bold;
}

a {
  font-weight: 500;
  color: aqua;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
a:visited {
  color: #dda0dd;
}


h1 { font-size: 20pt; }
h2 { font-size: 18pt; }
h3 { font-size: 16pt; }
h4 { font-size: 14pt; }

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: normal;
  line-height: 1.1em;
  text-align: center;
  width: fit-content;
  margin: 0.4em auto 0.4em auto;
  /* This shadow gives the underline an inset of 8px */
  box-shadow: 0px 9px 0px -8px gray;
}

h1 + h2 {
  font-size: 15pt;
  margin-top: 0;
  text-align: center;
}

p { font-size: 12pt; margin-top: 6pt; margin-bottom: 2pt; }


.banded-menu {
  display: flex;
  float: left;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  /* min-height: 100vh; */
  /* max-height: 100vh; */
  gap: 2px;
  overflow-y: scroll;
}

#home-button {
  display: inline-block;
  align-self: center;
  flex-shrink: 0;
  width: 130px;
  height: 130px;
  /* background-image: url("/img/HnsSmall.svg"); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 1em;
  text-decoration: none;
  margin: 10px;
  padding: 0px;
}

.banded-menu a {
  font-weight: 500;
  background-color: #202020;
  color: lightgray;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;
  overflow: hidden;
}
.banded-menu a:hover {
  color: #5c60a7;
  background-color: #3d3d3d;
}
.banded-menu a:visited {
  color: lightgray;
}
.banded-menu a.curr-path {
  font-weight: 700;
  color: whitesmoke;
  background-color: #353535;
}





.page {
  background-color: #000000;
  color: #FDF6E3;
  margin: 10px;
  padding: 20px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  border: 8px solid rgba(0, 0, 0, 0.75);
  background-clip: padding-box;
}

.page aside {
  background-color: #151515;
  margin: 0pt;
  padding: 10pt 20pt;
  border-radius: 16pt;
  border: 4px solid #1B1B1B;
}

.sheet-block {
  display: block;
  background-color: #000000;
  color: #FDF6E3;
  margin: 4px;
  padding: 10px;
  align-items: center;
  border-radius: 8px;
  border: 6px solid rgba(0, 0, 0, 0.75);
  background-clip: padding-box;
  max-width: calc(100% - 60px);
}

.sheet-block > h1:first-child {
  margin-bottom: 32px;
}

.sheet-block > h1:first-child img {
  display:inline-block;
  height: 1em;
}


.sheet-block-h {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 100%;
}

.sheet-block-h ~ :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 32px;
}


.sheet-block-v {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: 100%;
}
.sheet-block-v.align-left {
  align-items: start;
}
.sheet-block-v > :is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
  flex: 0 1 auto;
  align-self: stretch;
}


button,
.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover,
.button:hover {
  border-color: #535353;
}
button:focus,
button:focus-visible,
.button:focus,
.button:focus-visible {
  outline: 4px auto #535353;
}

.button:visited {
  color: var(--main-color);
}

button.bright,
.button.bright {
  padding: 0.6em 1.2em;
  /* font-weight: 700; */
  background-color: #353535;
}

button.bright-red,
.button.bright-red {
  padding: 0.6em 1.2em;
  /* font-weight: 700; */
  background-color: rgb(82, 41, 41);
}



.button-outlined {
  display: inline-flex;
  background-color: transparent;
  color: rgb(204, 204, 204);
  border: 2px solid rgb(204, 204, 204);
  border-radius: 8px;
  margin: 5px;
  padding: 5px 8px;
  align-items: center;
  justify-content: center;
}

.button-outlined:disabled {
  color: rgba(204, 204, 204, 0.59);
  border: 2px solid rgba(204, 204, 204, 0.59);
}

.button-outlined:visited {
  color: rgb(204, 204, 204);
  border: 2px solid rgb(204, 204, 204);
}



button.icon-button,
.icon-button {
  border-radius: 8px;
  border: 1px solid transparent;
  min-width: calc(0.5em * 2 + 1em);
  min-height: calc(0.5em * 2 + 1em);
  padding: 0;
  font-size: 1em;
  line-height: 1em;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button.icon-button:hover,
.icon-button:hover {
  border-color: #535353;
}
button.icon-button:focus,
button.icon-button:focus-visible,
.icon-button:focus,
.icon-button:focus-visible {
  outline: 4px auto #535353;
}

.icon-button:visited {
  color: var(--main-color);
}

button.icon-button.bright,
.icon-button.bright {
  background-color: #353535;
}

button.icon-button.bright-red,
.icon-button.bright-red {
  background-color: rgb(82, 41, 41);
}

button.icon-button > img,
.icon-button > img {
  height: calc( 1em + 8px );
  width: calc( 1em + 8px );
}


.toggle-bg {
  display: inline-flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 0;
  justify-content: center;
  justify-self: center;
  align-self: center;
  background-color: #222222;
  padding: 2px 4px;
  margin: 4px;
  border-top: 2px solid #202020;
  border-bottom: 2px solid #2a2a2a;
  border-radius: 12px;
  gap: 4px;
}
.toggle-bg a,
.toggle-bg button {
  display: inline-block;
  background-color: #333333;
  color: #dddddd;
  padding: 0px 10px;
  margin: 2px 0px 2px 2px;
  border-radius: 10px;
  border-top: 2px solid #3f3f3f;
  border-bottom: 2px solid #2a2a2a;
}
.toggle-bg a.active,
.toggle-bg button.active {
  padding: 2px 12px;
  margin: 0px;
  background-color: #444444;
  color: #eeeeee;
  border-top: 2px solid #555555;
  border-bottom: 2px solid #383838;
}
.toggle-bg a:visited {
  color: #dddddd;
}
.toggle-bg a.active:visited {
  color: #eeeeee;
}


.toggle-bg-v {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  justify-self: center;
  align-self: center;
  background-color: #111111;
  padding: 2px 3px;
  margin: 3px;
  border-top: 2px solid #101010;
  border-bottom: 2px solid #1a1a1a;
  border-radius: 12px;
  gap: 4px;
}
.toggle-bg-v a,
.toggle-bg-v button {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
  background-color: #303030;
  color: #dddddd;
  margin: 3px;
  padding: 2px 10px 2px 4px;
  border-radius: 10px;
  border-top: 2px solid #3f3f3f;
  border-bottom: 2px solid #2a2a2a;
}
.toggle-bg-v a.active,
.toggle-bg-v button.active {
  background-color: #525252;
  color: #eeeeee;
  margin: 0px;
  padding: 5px 12px 5px 7px;
  border-top-color: #656565;
  border-bottom-color: #383838;
}
.toggle-bg-v a:visited {
  color: #dddddd;
}
.toggle-bg-v a.active:visited {
  color: #eeeeee;
}
.toggle-bg-v a > img,
.toggle-bg-v button > img {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
}
.toggle-bg-v.slim a,
.toggle-bg-v.slim button {
  justify-content: center;
  padding: 2px;
  overflow: hidden;
}
.toggle-bg-v.slim a.active,
.toggle-bg-v.slim button.active {
  justify-content: center;
  padding: 5px;
  overflow: hidden;
}


.mb-0 {
  margin-bottom: 0px;
}
.ml-20 {
  margin-left: 20px;
}
.mt-0 {
  margin-top: 0px;
}


body .gist .highlight {
  background: #161616;
}

body .gist .blob-num,
body .gist .blob-code-inner,
body .gist .pl-st {
  color: #e6e1dc;
}

body .gist .pl-c,
body .gist .pl-c span {
  color: #555;
  font-style: italic;
}

body .gist .pl-mb {
  color: #1edafb;
  font-weight: 700;
}

body .gist .pl-mh .pl-en {
  color: #fdc251;
  font-weight: 700;
}

body .gist .pl-mi {
  color: #00698f;
  font-style: italic;
}

body .gist .pl-mq {
  color: #555;
}

body .gist .pl-sc {
  color: #999;
}

body .gist .pl-c1,
body .gist .pl-mh,
body .gist .pl-sr .pl-cce {
  color: #fdc251;
}

body .gist .pl-e,
body .gist .pl-en,
body .gist .pl-ent,
body .gist .pl-s,
body .gist .pl-v,
body .gist .pl-vpf {
  color: #974;
}

body .gist .pl-k,
body .gist .pl-mdh,
body .gist .pl-mdr,
body .gist .pl-ml,
body .gist .pl-mm,
body .gist .pl-mo,
body .gist .pl-mp,
body .gist .pl-mr,
body .gist .pl-ms,
body .gist .pl-s1 .pl-v,
body .gist .pl-s3 {
  color: #00698f;
}

body .gist .pl-pds,
body .gist .pl-s1,
body .gist .pl-s1 .pl-pse .pl-s2 {
  color: #58c554;
}

body .gist .pl-s1 .pl-s2,
body .gist .pl-sv {
  color: #1edafb;
}

body .gist .pl-smi,
body .gist .pl-smp,
body .gist .pl-stj,
body .gist .pl-vo {
  color: #be53e6;
}

body .gist .pl-sr,
body .gist .pl-sr .pl-sra,
body .gist .pl-sr .pl-sre,
body .gist .pl-src {
  color: #ff308f;
}

body .gist .pl-mi1,
body .gist .pl-mdht {
  color: #fff;
  background: rgba(0, 64, 0, .5);
}

body .gist .pl-md,
body .gist .pl-mdhf,
body .gist .pl-id,
body .gist .pl-ii {
  color: #fff;
  background: #900;
}

/*
x-small < 768px
small >= 768px
medium >= 1279px
x-large >= 1441px
*/
/* X-Small Screens */
@media only screen and (max-width: 768px) {
  
}